---
layout:
title:
permalink: /calendar-data/
---

{% assign has_previous = false %}
[
{% for event in site.events %}
  {% if has_previous %},{% endif %}
  {% assign has_previous = true %}
  {
    "title": {{ event.title | jsonify }},
    "start": "{{ event.event.start | date: "%Y-%m-%dT%H:%M:%S" }}",
    "end": "{{ event.event.end | date: "%Y-%m-%dT%H:%M:%S" }}",
    "allDay": {% if event.event.start == event.event.end %}true{% else %}false{% endif %},
    "url": {{ event.url | jsonify }}{% if event.event.rrule or event.tags.size > 0 %},{% endif %}
    {% if event.event.rrule %}"rrule": "{{ event.event.rrule }}"{% if event.tags.size > 0 %},{% endif %}{% endif %}
    {% if event.tags.size > 0 %}"tags": "{{ event.tags }}"{% endif %}
  }
{% endfor %}
]