---
layout:
title:
permalink: /calendar-data/
---

{% assign has_previous = false %}

{% assign dark = "#22272e" %}
{% assign light = "#FFFFFF" %}

{% assign backgroundColor = dark %}
{% assign textColor = gradientBlueOrange2 %}

{% assign gradientBlueOrange0 = "#4ddbff" %}
{% assign gradientBlueOrange1 = "#6bc8d5" %}
{% assign gradientBlueOrange2 = "#89b5ab" %}
{% assign gradientBlueOrange3 = "#a7a281" %}
{% assign gradientBlueOrange4 = "#c58f57" %}
{% assign gradientBlueOrange5 = "#e37c2d" %}
{% assign gradientBlueOrange6 = "#ff6600" %}

[
{% for event in site.events %}
  {% if has_previous %},{% endif %}
  {% assign has_previous = true %}
  {
    "title": {{ event.title | jsonify }},
    "start": "{{ event.event.start | date: "%Y-%m-%dT%H:%M:%S" }}",
    "end": "{{ event.event.end | date: "%Y-%m-%dT%H:%M:%S" }}",
    "allDay": {% if event.event.start == event.event.end %}true{% else %}false{% endif %},
    "url": {{ event.url | jsonify }},
    "display": "block",
    {% if event.tags.size > 0 %}
        {% for tag in event.tags %}
            {% if tag == "internal" %}
                {% assign backgroundColor = gradientBlueOrange6 %}
                {% assign textColor = light %}
            {% elsif tag == "external" %}
                {% assign backgroundColor = dark %}
                {% assign textColor = gradientBlueOrange2 %}
            {% elsif tag == "recurring" %}
                {% assign backgroundColor = gradientBlueOrange2 %}
                {% assign textColor = dark %}
            {% else %}
                {% assign backgroundColor = dark %}
                {% assign textColor = gradientBlueOrange2 %}
            {% endif %}
        {% endfor %}
    {% endif %}
    "backgroundColor": "{{ backgroundColor }}",
    "textColor": "{{ textColor }}"{% if event.event.rrule or event.tags.size > 0 %},{% endif %}
    {% if event.event.rrule %}
    "rrule": "{{ event.event.rrule }}"{% if event.event.exdate %},{% endif %}
    {% if event.event.exdate %}"exdate": [
      {% assign exdates = event.event.exdate | split: "," %}
      {% for date in exdates %}
        "{{ date | strip }}"{% unless forloop.last %},{% endunless %}
      {% endfor %}]{% endif %}{% if event.tags.size > 0 %},{% endif %}
    {% endif %}
    {% if event.tags.size > 0 %}"tags":
      {{ event.tags | jsonify}}
    {% endif %}
  }
{% endfor %}
]