<div class="posts">
    {% unless paginator.posts %}
    <article>
        <section class="post-content">
            <p>There are no blog posts</p>
        </section>
    </article>
    {% endunless %}
    {% for post in paginator.posts %}
        {% include blog/blog_entry.liquid %}
    {% endfor %}
</div>

{% include blog/blog_nav.liquid %}
