<div class="posts">
    {% unless site.posts %}
    <article>
        <section class="post-content">
            <p>There are no blog posts</p>
        </section>
    </article>
    {% endunless %}
    {% for post in site.posts limit:3 %}
        {% include blog/blog_entry.liquid %}
    {% endfor %}
    <center>
        <a aria-label="{{ site.data.language.str_more_blog_entries | default: 'More blog entries' }}" href="/blog" {%
            unless site.posts %} style="visibility:hidden" {% endunless %} class="button">
            {{ site.data.language.str_more_blog_entries | default: 'More blog entries' }}
        </a>
    </center>
</div>
