.fa-matrix {
  --icon-color: currentColor;

  &:before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;

    mask: url("https://cdn.netz39.de/img/logo/matrix-icon.svg") no-repeat center / contain;
    -webkit-mask: url("https://cdn.netz39.de/img/logo/matrix-icon.svg") no-repeat center / contain; // Safari

    background-color: var(--icon-color);
  }
}

@media (prefers-color-scheme: dark) {
  .fa-matrix {
    --icon-color: #fff;
  }
}