/* --- Header text feature --- */
.call-out {
  @extend %padding-header;
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 1.2em;
  text-align: center;
  color: var(--header-text);
  background: no-repeat var(--header-background);
  backdrop-filter: brightness(0.5);
  background-size: cover;

  h1 {
    font-family: $font-family-logo;
    @extend .subtle-txt-shadow;
  }

  /* --- Responsive --- */
  @media screen and (max-width: $m-break) {
    background-size: 170% auto;
  }

  @media screen and (max-width: 450px) {
    background-size: 200% auto;
  }

  @media screen and (max-width: 400px) {
    background-size: 250% auto;
  }

  @media screen and (max-width: 380px) {
    background-size: 280% auto;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

#main {
  background-position: 100% -50px, 0 center, center top;
}

/* --- Post listing --- */
.posts {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: content-box;
  position: relative;

  .post-teaser {
    text-align: center;
    width: 100%;
    margin-bottom: 2em;
    box-sizing: content-box;
    overflow: hidden;

    opacity: 0.8;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;

    @media (min-width: $m-break) {
      position: relative;
    }

    p a {
      @extend .body-link;
    }

    &:hover {
      opacity: 1;
    }

    .post-img {
      border-radius: 10px 10px 0 0;
      position: relative;
      background-position: 50%;
      background-size: cover;
      padding-bottom: 50%;

      @media (min-width: $m-break) {
        width: calc(50% + 2px);
        height: 100%;
        padding-bottom: 0;
        position: absolute;
        border-radius: 10px 0 0 10px;
      }

      -moz-transition-timing-function: ease-out;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out;

      -moz-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;

      &:hover {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        -moz-transform: scale(1.05) rotate(0.02deg);
      }
  }


    .post-text {
      background: var(--code-background);
      position: relative;
      padding: 1% 5.55%;
      border-radius: 0 0 10px 10px;
      padding-bottom: 0.5em;

      @media (min-width: $m-break) {
        width: 50%;
        float: right;
        border-radius: 0 10px 10px 0;
      }
    }

    .post-text-without-thumbnail
    {
      @extend .post-text;
      border-radius: 10px;

      @media (min-width: $m-break) {
        width: 100%;
      }
    }
  }

  .excerpt {
    margin-top: 1em;
  }


}
